.article{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:inline-block;
    text-align: center;
    width: 300px;
    min-height: 500px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 4px 2px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 4px 2px 5px 0px rgba(204,204,204,1);
    box-shadow: 4px 2px 5px 0px rgba(204,204,204,1);
    }
.main-article{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.price{
    font-size: 1em;
    font-weight: 600;
}
