<div class="main-article">
    <div *ngFor="let article of articles" class="article">
            <h1>{{article.name}}</h1>
        <img [src]="article.url" [alt]="article.description" [width]="article.largeur">
        <p>
            <span class="price">{{article.price}} € </span>
            <span *ngIf="article.promo" class="promo badge badge-success">Promo</span>
        </p>
        <p>
            {{article.description}}
        </p>
        <button class="btn btn-outline-success" (click)="selectArticle(article.id)">Add to cart</button>
    </div>
</div>