<div class="panier">
    <div class="cartRub">
        <h4>Vos articles Sélectionnés : </h4>
        <li class="panier-items" *ngFor="let choix of panier" class="article">
            Costume : {{articles[choix].name}} | Prix : {{articles[choix].price}} € | <a class="close remove" (click)="removeArt(articles[choix].id)">X</a>
        </li>
    </div>
    <div class="cartRub total"> 
        Total de vos achats : {{totalPanier}} €
    </div>
    <br>
    <button class="btn btn-outline-success valider">Validez vos achats</button>
    <br>
    <span class="livraison">Livré chez vous en 48H sous pli discret!</span>
</div>
